* {
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
	color: #FFFFFF;
}

body {
  background-color: #CAFAFE;
}

section p {
	color: #000000;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: auto;
}

section {
	border:	3px solid black;
	background-color: #57daf7;
	width: 100%;
	height: auto;
	color: black;
	position: relative;
	overflow: auto;
}

.sec {
	border: 3px solid #000000;
	border-radius: 0px;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 150%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 15px;
	padding: 5px;
	background-color: #F64C72;
	color: white;
}

.sec-div {
	margin-bottom: 10px;
	margin-top: 10px;
}

.navbar-brand {
  font-size: 3em;
  border: 0 0 10px 10px;
}

h2 {
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	left : 0;
	top:0;
	font-size: 50px;
	padding: 10px;
	color: #FFFFFF;
}

#header-nav {
  border: 0;
	border-radius: 0;
  background-color: #FC4445;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #FFFFFF;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
}

.item {
  font-size: 2em;
}
